.container{
margin: 10px;
border: 2px solid black;
    height: 300px;
    width: 300px;
    margin-left:10px;
    margin-right:10px; 
    float: left;
}

button{
text-align:center;
margin-top:45%;
padding-left:140px;
padding-right:130px;
}